.column {
    float: left;
    width: 33%;
    padding: 15px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  figure figcaption {
      border: 1px blue;
      text-align: center;
  }
  .tab {
    display: inline-block;
    margin-left: 50px;
  }
  .tab2 {
    display: inline-block;
    margin-left: 280px;
  }
  .tab3 {
    display: inline-block;
    margin-left: 290px;
  }
